[
{
   "businessId":"66537",
   "achievement" : [ "ach1", "ach2", "ach3" ],
   "age" : 26, 
   "name" : "Tsybius",
   "partner" : { 
      "partner_age" : 23, 
      "partner_name" : "Galatea",
      "partner_sex_is_male" : false
   },  
   "sex_is_male" : true
},
{
   "businessId":"66538",
   "achievement" : [ "ach1", "ach2", "ach3" ],
   "age" : 29,
   "name" : "Tsybius",
   "partner" : { 
      "partner_age" : 22, 
      "partner_name" : "Galatea",
      "partner_sex_is_male" : false
   },  
   "sex_is_male" : true
}
]
